@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --background: #fff;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: #fff;
    font-family: 'Comfortaa';
    font-weight: 400;
  }
  
  .content {
    height: 200vh;
    background-color: #FFF;
    background-blend-mode: multiply;
    background-size: cover;
    position: absolute;
  }

/* ------------------------------------------------ Start Navigation -------------------------------------------- */  

  nav a::before {
    content:"";
    display: block;
    height: 5px;
    background: #FF007F;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    
    transform: scale(0,1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }

  header {
    background: var(--background);
    background-color: #1A545D;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 999;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  /* hamburger menu styles */
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content:"";
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 8px;
  }
  
  .nav-toggle-label span::after {
    top: 8px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: #FF98CA;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: #FFD5E3;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  } 

  ol {
    list-style: none;
    counter-reset: ASAN 0;
    text-align: left;
    font-size: 15px;
    color: #6E6E6E;
  }

  ol li {
    counter-increment: ASAN;
    padding: 0 0 1em .5em;
    font-family: comfortaa;
  }

  ol li::marker {
    content: counter(ASAN) ".";
    color: #F16B6C;
    font-weight: bold; 
  }

/*---------------------------------------------------- End Navigation ------------------------------------------------*/ 

  .hero {
    height: 100vh;
    background-image: url(Images/Hero-image2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
  }
/*-------------------------------------- Hero Test CSS --------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'comfortaa', sans-serif;
  background: white;
  color: white;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

/* text of the slide */
.slide .content {
  position: absolute;
  bottom: 70px;
  left: 0px;
  width: 600px;
  opacity: 0px;
  background: rgba(255,255,255,.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background: rgba(255,255,255,.8);
  color: #333;
}

/* Background Images */
.slide:first-child {
  background-image: url(Images/Hero-image.jpg);
  background-size: cover;
}

.slide:nth-child(2) {
  background-image: url(Images/Hero-image2.png);
  background-size: cover;
}

.slide:nth-child(3) {
  background-image: url(Images/Hero-image3.jpg);
  background-size: cover;
}

.slide:nth-child(4) {
  background-image: url(Images/Hero-image4.jpg);
  background-size: cover;
}

.slide:nth-child(5) {
  background-image: url(Images/Hero-image5.jpg);
  background-size: cover;
}

/*-------------------------------------- End Hero Test CSS --------------------------------------*/

  .hero-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .body-text {
    font: 15px;
    color: #fff;
  }

  .ASAN-text {
    color: #fff;
    margin-left: 50px;
    font-size: 15px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 100px;
    text-align: left;
  }

  .autism-text {
    color: #6E6E6E;
    margin-left: 50px;
    font-size: 15px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 100px;
    text-align: left;
  }

  .autism-text-right {
    color: #6E6E6E;
    font-size: 15px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 100px;
    text-align: left;
  }

  .list {
    padding-top: 70px;
  }

  .autism-text-small {
    color: #6E6E6E;
    margin-left: 50px;
    font-size: 13px;
    padding-top: 10px;
    text-align: left;
  }

  .donate-text {
    color: #6E6E6E;
    margin-left: 50px;
    font-size: 15px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 100px;
    text-align: center;
  }

  .campaign-text {
    color: #fff;
    font-size: 15px;
    margin-left: 205px;
    margin-right: 205px;
    margin-bottom: 30px;
    text-align: center;
  }

  .row {
    margin: 0 auto 90px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .ASAN-row {
    margin: 0 auto 90px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Section_bg.png);
    background-size: cover;
    padding-left: 80px;
  }

  .campaign-row {
    margin: 0 auto 90px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-image: url(Images/Section_bg_blue.png);
    background-size: cover;
  }

  .section {
    text-align: center;
    padding: 50px 80px 70px;
  }
  
  .section-red {
    background: #F16B6C;
    margin-top: 0;
  }

 .section-red-box-1 {
  background: rgb(241,107,108);
  background: linear-gradient(354deg, rgba(241,107,108,1) 0%, rgba(241,107,108,1) 39%, rgba(255,255,255,1) 39%);
  height: 405px;
}

.section-red-box-2 {
  background: rgb(255,255,255);
  background: linear-gradient(354deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(241,107,108,1) 65%);
  height: 405px;
}

  .section-blue {
    background: #59C4BF;
    margin-top: 0;
  }

  .section-blue-box-1 {
    background: rgb(89,196,191);
    background: linear-gradient(354deg, rgba(89,196,191,1) 0%, rgba(89,196,191,1) 39%, rgba(255,255,255,1) 39%);
    height: 405px;
  }
  
  .section-blue-box-2 {
    background: rgb(89,196,191);
    background: linear-gradient(174deg, rgba(89,196,191,1) 0%, rgba(89,196,191,1) 50%, rgba(255,255,255,1) 50%);
    height: 405px;
  }

  .section-blue-box-3 {
    background: rgb(89,196,191);
    background: linear-gradient(2deg, rgba(89,196,191,1) 0%, rgba(89,196,191,1) 16%, rgba(255,255,255,1) 16%);
    height: 300px;
  }

  .section-blue-box-4 {
    background: rgb(89,196,191);
    background: linear-gradient(182deg, rgba(89,196,191,1) 0%, rgba(89,196,191,1) 16%, rgba(255,255,255,1) 16%);
    height: 300px;
  }

  h2 {
    font-family: 'comfortaa';
    color: #fff;
    font-size: 35px;
  }

  h2 .about-asan {
    margin-top: 0;
  }

  h3 {
    font-family: 'comfortaa';
    color: #fff;
    font-size: 25px;
    margin-top: 0;
  }

  h4 {
    font-family: 'comfortaa';
    color: #F16B6C;
    font-size: 18px;
  }

  .h2-red {
    font-family: 'comfortaa';
    color: #F16B6C;
    font-size: 35px;
  }

  .h3-red {
    font-family: 'comfortaa';
    color: #F16B6C;
    font-size: 25px;
    text-align: center;
  }

  .columns_2 {
    margin: 20px;
  }

  .columns_3 {
    margin: 0 20px;
  }

  button {
    padding: 10px 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #5F57A4;
    color: white;
    font-family: comfortaa;
   }

   button a {
     text-decoration: none;
     color: white;
   }
 
   button:hover {
    background: #7ad09c;
    color: white;
   }

   /*
   .footer {
    height: 100px;
    background-color: #1A545D;
    background-size: cover;
    display: flex;
    justify-content: center;
   }
   */

   footer {
    text-align: center;
    padding: 6px;
    background-color: #1A545D;
    color: white;
  }

   .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-text {
  padding-bottom: 20px;
  padding-top: 20px;
}